@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  margin-top: 20px;
}

body {
  background-color: #fff0de;
  color: #1f2937;
}

.search__styles {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  text-align: center;
  margin-top: 100px;
  border: 2px solid #000;
  padding: 10px 20px;
  width: 350px;
  height: 40px;
  font-size: 25px;
  border-radius: 50px;
}

input:focus {
  outline: none;
}

table {
  width: 100%;
  margin: 50px 0px;
  border-spacing: 15px;
  color: #444;
}

tr {
  margin-bottom: 20px;
}

th {
  width: 250px;
  text-align: left;
  font-size: 35px;
  padding-bottom: 30px;
}

td {
  width: 250px;
  padding-top: 20px;
  font-size: 25px;
}

@media screen and (max-width: 425px) {
  h1 {
    font-size: 25px;
  }

  input {
    font-size: 17px;
    margin: 10px 20px;
  }

  table {
    margin: 0;
  }
  th {
    font-size: 25px;
    padding-bottom: 10px;
  }

  td {
    font-size: 17px;
  }

  tr {
    margin-bottom: 0px;
  }
}
